*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --background: #fff;
  --background-color:rgb(4, 90, 4);
  --border-color:rgba(5, 112, 113, 1);
  --color:#dde1e7;
}
body{
  background: #fff;
  font-family: 'Gemunu Libre', sans-serif;
}

.navCont{
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  background-color: var(--background-color);
}
.aside{
  position: fixed;
  top:0;
  right:0;
  height:100%;
  width:0%;
  background-color:rgb(4, 83, 4);
  transition:all 0.5s;
}

.menuBar{
  margin: 15px 10px 0px;
  position: absolute;
  right: 0;
}
.openMenuBar p{
  height:3px;
  width:28px;
  background-color: var(--background);
  margin:5px;
  transform: rotate(0deg);
  transition:0.6s all;
}
.sideBar{
  width:100%;
  height:100%;
}
.closeMenuBar{
  position: absolute;
  top:12px;
  left:5px;
  font-size: 35px;
  color: var(--color);
  opacity: 0;
  list-style: none;
  transform: rotate(0deg);
  transition:0.6s all;
}
.closeMenuBar:hover{
  color:rgb(13, 61, 13);
  transform: rotate(90deg);
}
.menuList .list{
  list-style: none;
  padding:15px 15px;
  transition:0.7s all;
}
.menuList .list:hover{
  transform: translateY(6px);
  color:#000;
}
.menuList li:nth-child(2){
  margin-top: 16vh;
}
.menuList .list a{
  color: var(--color);
  font-size: 18px;
  font-weight: bolder;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 1vh;
  transition:0.5s all;
  text-decoration: none;
}
.menuList .list a:hover{
  color:rgb(13, 61, 13);
}
ul.menus{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul.menus li{
  list-style-type: none;
  padding:13px 0px;
  transition:0.7s all;
}
.menus li:hover{
  transform: translateY(6px);
  color:rgb(13, 61, 13);
}
ul.menus li i{
  color: var(--color);
  transition:0.7s all;
}
.menus li i:hover{
  transform: translateY(6px);
  color:rgb(155, 10, 111);
}
ul.menus li a{
  color: var(--color);
  font-size: 18px;
  font-weight: bolder;
  transition:0.5s all;
  text-decoration: none;
}
.menus li a:hover{
  transform: translateY(4px);
  color:rgb(13, 61, 13);
}
/* Setting all the list items to display none */
.list{
  display: none;
}
/* Logo designs */

.logoCont{
  position: fixed;
  top:1vh;
  left:10px;
}
.logoCont .logo{
  display:flex;
  justify-content: center;
  align-items: center;
  height:40px;
  width:110px;
  background:var(--background);
  border-radius: 5px;
  position:relative;
  overflow: hidden;
}
.logo::after{
  content: '';
  position: absolute;
  height:30px;
  width:100px;
  background:var(--background-color);
  border-radius:5px;
}
.logoCont .logo h1{
  z-index: 10;
  position: relative;
  color: var(--color);
  font-size: 1.7rem;
  font-weight:bolder;
}
.footercont{
  margin-top: 3vh;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
.footercont .footer{
  height:50px;
  width:100%;
}
.footercont .footer h2{
  color: var(--color);
  text-align: center;
  font-size: 15px;
}
.footer h2 span{
  font-size:17px;
}

/*Home Page Design Section*/

 .home_section{
  margin-top:14vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  width: 100%;
}
.wrapper .heading{
  display:flex;
  justify-content: center;
  align-items: center;
}
.heading h1{
  text-align: center;
  color: var(--background-color);
  font-size: 26px;
  font-weight:700;
  animation: animate 2s linear alternate infinite;
}

.descriptionCont{
  margin-top: 2vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.description{
  z-index: -1;
  height:430px;
  width:80%;
  flex-direction: column;
  background-color: var(--background-color);
  padding:20px;
  border-radius:15px;
  padding:15px;
  position: relative;
}
.description h2{
  padding-top: 4vh;
  text-align: center;
  color: var(--color);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.description h4{
  padding: 2vh 0vh 1vh;
  text-align: center;
  color: var(--color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.description h4 span{
  font-size: 2rem;
  animation: blink 0.7s linear alternate infinite;
}
@keyframes blink {
  from{
    color: var(--color);
  }to{
    color: var(--background-color);
  }
}
.department-subject{
  display: flex;
  justify-content: space-around;
}
.department-subject h3{
  padding-bottom: 1vh;
  text-align: start;
  text-decoration: 2px solid underline;
  color: var(--color);
  font-size: 1.7rem;
  font-weight: 500;
}
.department-subject ul li{
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: var(--color);
  font-size: 1.3rem;
  font-weight: 500;
}
.description p{
  padding-top: 1.4vh;
  text-align: center;
  color: var(--color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.description::after{
  content: '';
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  top:-50px;
  right: 95%;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: var(--background-color);
  animation: rotate 2s linear alternate infinite;
}
.description::before{
  content: '';
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  top:-50px;
  left: 95%;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: var(--background-color);
  animation: rotate2 2s linear alternate infinite;
}
.description p:nth-child(1){
  margin-top:2vh;
  font-size:18px;
}
@keyframes rotate1 {
  from{
    transform: translate(0px);
  }to{
    transform: translateX(500px);
  }
}
.description p:nth-child(2){
  margin-top:3vh;
  font-size:14px;
}

.buttonCont{
  margin-top: 1vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.button{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width:90%;
}
.button button{
  height: 43px;
  width:300px;
  padding: 4px;
  border-radius:7px;
  border: none;
  outline: none;
  background:var(--background-color);
  transition: all 0.3s;
}
.button > button:hover{
  color: #fff;
  transform: translateY(2px);
}
.button button a {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color);
  text-decoration: none;
  transition: all 0.4s;
}
.button button a:hover{
  color:#000;
}

.footerCont{
  margin-top: 1vh;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
.footerCont .footer{
  height:50px;
  width:100%;
}
.footerCont .footer h2{
  color: var(--background-color);
  width:100%;
  text-align: center;
  font-size: 13px;
}
.footer h2 span{
  font-size:17px;
}
/*************************** At 768px Of Tab Device ***************************/
@media screen and (max-width:768px) {
  .description::after{
    content: '';
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top:-50px;
    right: 89%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: var(--background-color);
    animation: rotate 2s linear alternate infinite;
  }
  .description::before{
    content: '';
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top:-50px;
    left: 89%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: var(--background-color);
    animation: rotate2 2s linear alternate infinite;
  }
  .description{
    z-index: -1;
    height:480px;
    width:80%;
    flex-direction: column;
    background-color: var(--background-color);
    padding:20px;
    border-radius:15px;
    padding:15px;
    position: relative;
  }
}

/***************************At 600px Of Mobile Screen ***************************/
@media only screen and (max-width:600px){
  .home_section{
    margin-top:12vh;
  }
  .wrapper{
    width: 100%;
  }
  .heading h1{
    font-size: 2.3rem;
    font-weight:700;
  }
  .description h2{
    padding-top: 1vh;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .description{
    height:450px;
    width:95%;
  }
  .description::after{
    display: none;
  }
  .description::before{
    display: none;
  }
}